*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: poppins, sans-serif;
    font-size: 15px;

}

body{
    background: linear-gradient(to right, #000000, #434343);
    color: white;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 100px;
    box-shadow: 0px 10px 10px 0px grey;
    margin-bottom: 30px;
    width: 100%;
    
}

.header-title{
    font-size: 20px;
    font-weight: bold;
}

.header-menu{
    display: flex;
    gap: 40px;
    font-weight: bold;
    margin-left: 100px;
}

.header-menu a{
    color: white;
}

.fa-solid{
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}

.fa-bars{
    display: none;
}


@media screen and (max-width: 768px){
    .header-container{
        padding: 10px 20px 10px 20px;
    }
    .fa-bars{
        display: flex;
    }

    .header-menu{
        display: none;
    }
}

.home-container {
    display: flex;
    align-items: center;
    padding: 10px 10px 0;
    margin-left: 10%;
}

.home-info {
    position: relative;
    left: 3%;
    margin-right: 500px;
}

.home-info h1 {
    font-size: 50px;
    font-weight: bold;
    width: 300%;
}

.home-info h1 span {
    color: rgb(41, 22, 255);
    font-weight: bold;
    font-size: 50px;
}

.home-info p {
    font-size: 20px;
    width: 300%;
}

.myprofile img {
    position: relative;
    margin-top: 15%;
    border-radius: 50%;
    width: 100%;
    border: 5px solid rgb(0, 0, 0);
}

/* Media queries for responsiveness */
@media (max-width: 1048px) {
    .home-container {
        flex-direction: column;
        padding: 10px;
        margin-left: 10%;
        align-items: center;
        margin-bottom: 40%;
        
    }

    .home-info {
        margin-left: 40%;
        padding: 20px;
        width: 100%;
        text-align: center;
    }

    .home-info h1 {
        font-size: 30px;
        font-weight: bold;
        width: 100%;
        
    }
    
    .home-info h1 span {
        color: rgb(8, 0, 95);
        font-weight: bold;
        font-size: 35px;
        text-align: center;
    }
    
    .home-info p {
        font-size: 20px;
        width: 100%;
    }

    .myprofile img {
        position: relative;
        left: 10%;
        bottom: 40px;
        width: 70%;
        border-radius: 0px;
        margin-right: 0;
    }
}

@media (max-width: 768px)and (min-width: 200px) {
    
    .home-info {
        margin-left: 105%;
        padding: 20px;
        width: 105%;
    }

    .myprofile img {
        position: relative;
        left: 0%;
        top: 20%;
        width: 90%;
        border-radius: 0px;
      
    }
    
}

.socmed {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 70px;
    position: relative;
    left: 44%;
    width: 50%;

   
}

.socmed ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.socmed li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(41, 22, 255);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.socmed li a:hover {
    
    color: #00d3f3;
}

.fa-brands{
    padding-top: 3px;
    padding-left: 1px;
    font-size: 23px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .socmed ul {
        flex-direction: row;
        
    }
}